a:focus {
    outline: none;
}
    
.panel {
    position: absolute;
    top: 80px;
    right: 0;
    display: none;
    background: whitesmoke;
    border:1px solid #cccccc;
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    width: 330px;
    height: auto;
    padding: 30px 130px 30px 30px;
    filter: alpha(opacity=85);
    opacity: .85;
    }
    
    .panel p{
    margin: 0 0 15px 0;
    padding: 0;
    color: #cccccc;
    }
    
    .panel a, .panel a:visited{
    margin: 0;
    padding: 0;
    color: #9FC54E;
    text-decoration: none;
    border-bottom: 1px solid #9FC54E;
    }
    
    .panel a:hover, .panel a:visited:hover{
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    }
    
    a.trigger{
    position: absolute;
    text-decoration: none;
    top: 80px;
    right: 0;
    letter-spacing:-1px;
    color:#fff;
    padding: 20px 15px 20px 40px;
    background:whitesmoke;
    border:1px solid #cccccc;
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    display: block;
    }
    
    a.trigger:hover{
    position: absolute;
    text-decoration: none;
    top: 80px; 
    right: 0;
    letter-spacing:-1px;
    color:#fff;
    padding: 20px 20px 20px 40px;
    background:whitesmoke;
    border:1px solid #b8b7b7;
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    display: block;
    }
    
    a.active.trigger {
    background:whitesmoke;
    }
    
    .columns{
    clear: both;
    width: 330px;
    padding: 0 0 20px 0;
    line-height: 22px;
    }
    
    .colleft{
    float: left;
    width: 130px;
    line-height: 22px;
    }
    
    .colright{
    float: right;
    width: 130px;
    line-height: 22px;
    }
    