<!DOCTYPE html>
<html>
    <head>
        <title>
            Pioneer Web Menu
        </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
    </head>

    <body>
        <!-- <h1>Geoscan Web Menu</h1>
        <ul type='circle'>
            <li><a href="http://{{ host }}:8090">Web-termminal</a></li>
            <li><a href="http://{{ host }}:9090/node">ROS Node list</a></li>
            <li><a href="http://{{ host }}:9090/service">ROS Service list</a></li>
            <li><a href="http://{{ host }}:9090/topic">ROS Topic list</a></li>
            <li><a href="http://{{ host }}:9999">Code-oss IDE</a></li>
        </ul> -->
        <nav class="navbar navbar-light bg-light scroll" style="position: fixed; width: 270px; height: 100%; display: block; overflow:auto; white-space: nowrap" id="mainnav">
          <a class="navbar-brand nav-tabs">
            <img src="{{ url_for('static',filename='img/PioneerWebMenu.svg')}}" width="200" height="50"/>
          </a>
          <br>
          <br>
          <ul class="navbar-nav" id="navAccordion">
              <li class="nav-item">
                <a class="nav-link" onclick="butterfly()">Web Terminal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="codeOss()">Code-oss IDE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="pioneerBricks()">Pioneer Bricks</a>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link nav-link-collapse"
                  data-toggle="collapse"
                  data-target="#collapseSubItems"
                  aria-controls="collapseSubItems"
                  aria-expanded="false"
                  >ROS</a>
                <ul class="nav-second-level collapse" id="collapseSubItems" data-parent="#navAccordion">
                  <li class="nav-item">
                    <a class="nav-link" onclick="ros()">Управление ROS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" onclick="nodes()">Node List</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" onclick="service()">Service List</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" onclick="topics()">Topic List</a>
                  </li>
                </ul>
              </li>
            </ul>
        </nav>
        <main class="main-container-outer scroll" style="margin-left: 270px; overflow-y:auto;" id="maincont">

        </main>
        <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <script>
            $(document).ready(function() {
                $('.nav-link-collapse').on('click', function() {
                    $('.nav-link-collapse').not(this).removeClass('nav-link-show');
                    $(this).toggleClass('nav-link-show');
                });
            });
        </script>
        <script>
          function codeOss(){
            $(".myform").remove();
            var l=`
            <div class="myform">
              <br>
              <form>
                <h1 style="text-align: center;">Code-Oss IDE</h1>
                <h5 style="word-wrap: break-word; padding-left: 30px; padding-right: 30px">Code-Oss IDE - это современная среда разработки. С его помощью можно запускать ROS
                систему, писать программы, отлаживать код, взаимодействовать с 
                Linux по средству встроенного терминала, просматривать файлы. 
                </h5>
                <a class="btn btn-outline-success" href="http://{{ host }}:9999" style="left: 50%; position: sticky;">Открыть</a>
              </form>
            </div>`;
            $("#maincont").append(l);
          }
          function butterfly(){
            $(".myform").remove();
            var l=`
            <div class="myform">
              <br>
              <form>
                <h1 style="text-align: center;">Butterfly Web Terminal</h1>
                <h5 style="word-wrap: break-word; padding-left: 30px; padding-right: 30px">
                  Butterfly Web Terminal - браузерная версия стандартного Linux терминала.
                </h5>
                <a class="btn btn-outline-success" href="http://{{ host }}:8090" style="left: 50%; position: sticky;">Открыть</a>
              </form>
            </div>
            `;
            $("#maincont").append(l);
          }
          function pioneerBricks(){
            $(".myform").remove();
            var l=`
            <div class="myform">
              <br>
              <form>
                <h1 style="text-align: center;">Pioneer Bricks</h1>
                <h5 style="word-wrap: break-word; padding-left: 30px; padding-right: 30px">
                  Pioneer Bricks – визуальная, блочная, 
                  браузерная среда разработки, обладающая всем функционалом современных 
                  IDE (создать файл, открыть файл, сохранить файл, консоль отладки). Данная 
                  среда прекрасно подойдет для детей, только начавших изучать 
                  программирование. Основной плюс данной среды – это простота 
                  использования, а так же моментальное исполнение программы. 
                </h5>
                <a class="btn btn-outline-success" href="http://{{ host }}:2020" style="left: 50%; position: sticky;">Открыть</a>
              </form>
            </div>
            `;
            $("#maincont").append(l);
          }
          function service(){
            $.get(
              "/service",
              {},
              onSuccess
            )
            var body=``;
            $(".myform").remove();
            function onSuccess(data){
		          if(data.status==0){
                body=`
                 <h1 style="text-align: center;">Список ROS Services</h1>
                 <div style="max-height: 90%; padding-left: 30px; padding-right: 30px">
                 <table class="table table-bordered">
                  <thead style="background-color: #EC4D0F; color: #fff">
                    <tr>
                      <th scope="col">Название</th>
                      <th scope="col">Тип</th>
                      <th scope="col">Родительская Нода</th>
                    </tr>
                  </thead>
                  <tbody>
                 `;
                for (l in data.list){
                  body=body+`
                  <tr>
                    <td>${data.list[l]}</td>
                    <td>${data.type[l]}</td>
                    <td>${data.node[l]}</td>
                  </tr>`;
                };
                body=body+`</tbody></div></table>`;
              }else{
                body=`
                <h1 style="text-align: center;">ROS ядро не запущено</h1>
                `;
              }
              var s=`
              <div class="myform">
                <br>
                <form>
                  ${body}
                </form>
              </div>
              `;
              $("#maincont").append(s);
		          return;
	          }
          }
          function topics(){
            $.get(
              "/topic",
              {},
              onSuccess
            )
            var body=``;
            $(".myform").remove();
            function onSuccess(data){
		          if(data.status==0){
                 body=`
                 <h1 style="text-align: center;">Список ROS Topics</h1>
                 <div style="max-height: 90%; padding-left: 30px; padding-right: 30px">
                 <table class="table table-bordered">
                  <thead style="background-color: #EC4D0F; color: #fff">
                    <tr>
                      <th scope="col">Название</th>
                      <th scope="col">Тип</th>
                      <th scope="col">Публикующие Ноды</th>
                    </tr>
                  </thead>
                  <tbody>
                 `;
                for (l in data.list){
                  body=body+`
                  <tr>
                    <td>${data.list[l]}</td>
                    <td>${data.type[l]}</td>
                    <td>${data.node[l]}</td>
                  </tr>`;
                };
                body=body+`</tbody></div></table>`;
              }else{
                body=`
                <h1 style="text-align: center;">ROS ядро не запущено</h1>
                `;
              }
              var s=`
              <div class="myform">
                <br>
                <form>
                  ${body}
                </form>
              </div>
              `;
              $("#maincont").append(s);
		          return;
	          }
          }
          function nodes(){
            $.get(
              "/node",
              {},
              onSuccess
            )
            var body=``;
            $(".myform").remove();
            function onSuccess(data){
              if(data.status==0){
                body=`
                 <h1 style="text-align: center;">Список ROS Nodes</h1>
                 <div style="max-height: 90%; padding-left: 30px; padding-right: 30px">
                 <table class="table table-bordered">
                  <thead style="background-color: #EC4D0F; color: #fff">
                    <tr>
                      <th scope="col">Название</th>
                    </tr>
                  </thead>
                  <tbody>
                 `;
                for (l of data.list){
                  body=body+`
                  <tr>
                    <td>${l}</td>
                  </tr>`;
                };
                body=body+`</tbody></div></table>`;
              }else{
                body=`
                <h1 style="text-align: center;">ROS ядро не запущено</h1>
                `;
              }
              var s=`
              <div class="myform">
                <br>
                <form>
                  ${body}
                </form>
              </div>
              `;
              $("#maincont").append(s);
		          return;
            }
          }
          function ros(){
            $.get(
              "/core",
              {},
              onSuccess);
            var body=``;
            $(".myform").remove();
            function onSuccess(data){
              if(data.status==1){
                body=body+`<button class="btn btn-outline-danger" style="margin-left: 10%; position: sticky; margin-right: 10%;" onclick="com(0)">Отключить ядро ROS</button>`;
              }else{
                body=body+`<button class="btn btn-outline-success" style="margin-left: 10%; position: sticky; margin-right: 10%;" onclick="com(1)">Включить ядро ROS</button>`;
              }
              $.get(
                "/launch_status",
                {},
                onSuccess2
              );
              return;

              function onSuccess2(data){
                if(data.status==1){
                  body=body+`<button class="btn btn-outline-danger" style="margin-left: 10%; position: sticky; margin-right: 10%" onclick="launch(0)">Отключить ROS систему</button>`;
                }else{
                  body=body+`<button class="btn btn-outline-success" style="margin-left: 10%; position: sticky; margin-right: 10%" onclick="launch(1)">Включить ROS систему</button>`;
                };
                var s=`
                <div class="myform">
                  <br>
                  <form style="display: grid;">
                    <h1 style="text-align: center;">Управление ROS</h1>
                    ${body}
                  </form>
                </div>
              `;
              $("#maincont").append(s);
              return;
              }
            }
          }

          function sleep(milliseconds) {
            const date = Date.now();
            let currentDate = null;
            do {
              currentDate = Date.now();
            } while (currentDate - date < milliseconds);
          }


          function com(c){
            $.post(
              "/com",
              {
                com:c
              }
            );
            sleep(3000);
            ros();
          }

          function launch(c){
            if(c==1){
              $.post(
                "/launch_start",
                {}
              );
              sleep(5000);
            }else{
              $.post(
                "/launch_stop",
                {}
              );
              sleep(18000);
            };
            
            ros();
          }
        </script>
    </body>
</html>
